//#region colors
$color-light: #999595;
$color-light-gray: #6d6d6d;
$color-main: orange;
$color-light-orange: #FFF2DB;
$color-light-border: #e2e2e2;
$color-light-black: #3e416d;
$color-white: #FFFFFF;
$color-light-background: #ededed;
$gradient-main: linear-gradient(to right,red,orange);
$transition-short: all .1s;

$avatar-border-radius: 100%;
$radius-main: 22px;
$size-main: 1rem;
$line-height: 1rem;